.wrapper {
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.5) 0%, rgba(233, 130, 131, 0.5) 100%), url(..//..//..//../static/images/signIn.jpg) no-repeat center top / cover;
    border-radius: 10px;
    height: 100vh;
}